* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#pageHeader {
  padding: 60px;
  border: 3px solid cornflowerblue;
  background-color: darkcyan;
}

#pageFooter {
  margin-top: auto;
  padding: 60px;
  border: 3px solid darkslateblue;
  background-color: darkblue;
}

#pageHeader,
#pageFooter {
  align-self: stretch;
}

.content {
  padding: 30px;
  border: 1px solid darkslateblue;
  width: 100%;
  max-width: 1200px;
  align-self: center;
}
