* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parent {
  border: 1px solid black;
  background-color: lightgrey;
}

.child {
  padding: 40px;
  font-size: 30px;
  color: darkblue;
  text-align: center;
  border: 1px solid black;
  background-color: coral;
}

/* flexible box */

.flexContainer {
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  /* flex-start - начало оси
  flex-end - конец оси
  center - по ценру оси
  -------------------------
  семейство space-around */

  /* new property, default value: nowrap */
  flex-wrap: wrap-reverse;
  /*  wrap, nowrap, wrap-reverse */
}
